$red: #E50000;
$grayL: #f6f6f6;
$grayD: #f0f0f0;
$grayTxt: #595D60;
$grayTxtD: #202020;
$mainBgColor: #FE805C;
$mainColor: #222222;

$toyotaDB: 'Toyota Display Bold';
$toyotaDR: 'Toyota Display Regular';
$toyotaTR: 'Toyota Text Regular';
$toyotaTB: 'Toyota Text Bold';

$desktopL: 1920px;
$desktop: 1440px;
$notebook: 1025px;
$tablet: 769px;
$mobileB: 481px;
$mobile: 361px;


